<!doctype HTML>
<html lang="nb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="//finncdn.no/bb/latest/css/spaden/4.x/spaden.min.css">
</head>
<body>
<div class="topmenu fixed">
    <div class="container">
        <div class="page">
            <nav class="navbar flex align-items-center align-items-stretch mod-behaviour mbn linkblock" role="navigation">
                <a href="/" class="nav-logo flex align-items-center margin-right-auto" data-element="homelink">
                    <svg class="hide-gt480" width="62" height="32" viewBox="0 0 124 64">
                        <path fill="#06bffc" d="M119.8 58V6c0-1-.8-1.9-1.9-1.9H66c-1 0-1.9.8-1.9 1.9v53.8H118c1 0 1.8-.8 1.8-1.8"></path>
                        <path fill="#0063fc"
                              d="M22.5 4.2H6C5 4.2 4.2 5 4.2 6v52c0 1 .8 1.9 1.9 1.9H60V41.5C59.9 20.9 43.2 4.2 22.5 4.2"></path>
                        <path fill="#ffffff"
                              d="M118 0H66c-3.3 0-6 2.7-6 6v17.4C53.2 9.6 38.9 0 22.5 0H6C2.7 0 0 2.7 0 6v52c0 3.3 2.7 6 6 6h112c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6m1.8 58c0 1-.8 1.9-1.9 1.9H64.1V6c0-1 .8-1.9 1.9-1.9h52c1 0 1.9.8 1.9 1.9v52zM4.2 58V6C4.2 5 5 4.2 6 4.2h16.5c20.6 0 37.4 16.8 37.4 37.4v18.3H6c-1-.1-1.8-.9-1.8-1.9"></path>
                    </svg>
                    <svg class="hide-lt480" width="92" height="32" viewBox="0 0 184 64">
                        <path fill="#06bffc" d="M179.8 58V6c0-1-.8-1.9-1.9-1.9H66c-1 0-1.9.8-1.9 1.9v53.8H178c1 0 1.8-.8 1.8-1.8"></path>
                        <path fill="#0063fc"
                              d="M22.5 4.2H6C5 4.2 4.2 5 4.2 6v52c0 1 .8 1.9 1.9 1.9H60V41.5C59.9 20.9 43.2 4.2 22.5 4.2"></path>
                        <path fill="#fff"
                              d="M178 0H66c-3.3 0-6 2.7-6 6v17.4C53.2 9.6 38.9 0 22.5 0H6C2.7 0 0 2.7 0 6v52c0 3.3 2.7 6 6 6h172c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6m1.8 58c0 1-.8 1.9-1.9 1.9H64.1V6c0-1 .8-1.9 1.9-1.9h112c1 0 1.9.8 1.9 1.9v52zM4.2 58V6C4.2 5 5 4.2 6 4.2h16.5c20.6 0 37.4 16.8 37.4 37.4v18.3H6c-1-.1-1.8-.9-1.8-1.9"></path>
                        <path fill="#fff"
                              d="M110.1 21.1h-4.2c-.7 0-1.2.5-1.2 1.2v19.3c0 .7.5 1.2 1.2 1.2h4.2c.7 0 1.2-.5 1.2-1.2V22.3c0-.6-.6-1.2-1.2-1.2M98.1 21.1H83c-.7 0-1.2.5-1.2 1.2v19.3c0 .7.5 1.2 1.2 1.2h4.2c.7 0 1.2-.5 1.2-1.2v-4h7.7c.7 0 1.2-.5 1.2-1.2v-3.2c0-.7-.5-1.2-1.2-1.2h-7.7v-4.9h9.7c.7 0 1.2-.5 1.2-1.2v-3.7c0-.5-.6-1.1-1.2-1.1M160.9 21.1h-4.2c-.7 0-1.2.5-1.2 1.2v9.5l-6.6-10c-.3-.4-.8-.7-1.3-.7h-3.2c-.7 0-1.2.5-1.2 1.2v19.3c0 .7.5 1.2 1.2 1.2h4.2c.7 0 1.2-.5 1.2-1.2v-9.4l6.5 9.8c.3.4.8.7 1.3.7h3.4c.7 0 1.2-.5 1.2-1.2V22.3c-.1-.6-.6-1.2-1.3-1.2M135.5 21.1h-4.2c-.7 0-1.2.5-1.2 1.2v9.5l-6.6-10c-.3-.4-.8-.7-1.3-.7H119c-.7 0-1.2.5-1.2 1.2v19.3c0 .7.5 1.2 1.2 1.2h4.2c.7 0 1.2-.5 1.2-1.2v-9.4l6.5 9.8c.3.4.8.7 1.3.7h3.4c.7 0 1.2-.5 1.2-1.2V22.3c-.1-.6-.6-1.2-1.3-1.2"></path>
                    </svg>
                    <span class="topbar-nav-svg-caption caption showbydefault hide-lt900">FIAAS</span>
                </a>
            </nav>
        </div>
    </div>
</div>

{% macro block_header() %}
<div class="container ">
    <div class="page">
        <div class="mod">
            <div class="inner">
                <div class="bd">
{% endmacro %}
{% macro block_footer() %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{{ block_header() }}
<div class="line">
    <div class="unit size2of3">
        <h1 class="capitalize">{{ self.title() }}</h1>
    </div>
    <div class="unit size1of3">

    </div>
</div>
{{ block_footer() }}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="container ">
    <div class="page">
        <div class="mod shadow">
            <div class="inner lilac-xlt bg-lilac">
                <div class="bd">
                    {% for message in messages %}
                    <p class="r-margin">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endwith %}

{% block content %}{% endblock %}

{{ block_header() }}
{{ block_footer() }}
</body>
</html>
