{% extends "base.html" %}
{% block title %}Fiaas Deploy Daemon{% endblock %}
{% block content %}

{% macro render_field(field) %}
<div class="formelement {% if field.errors %}invalid{% endif %} {% if field.flags.required %}required{% endif %}">
    {{ field.label }}
    <div class="fancyinput">
        {{ field()|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
              <span class="help-inline">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endmacro %}

{{ block_header() }}
    <p>Welcome to the FIAAS deploy daemon.</p>

    <p><a href="/defaults">View default values for the FIAAS config format</a></p>
    <p><a href="/internal-backstage/prometheus">View fiaas-deploy-daemon metrics</a></p>
    <p><a href="/transform">Transform fiaas app_config</a></p>
{{ block_footer() }}
{% endblock %}
