apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Values.name }}
  labels:
{{ include "fiaas-deploy-daemon.labels" . | indent 4 }}
{{ include "fiaas-deploy-daemon.labelsOrAnnotations" .Values.rbac.role.labels | indent 4 }}
{{- if or .Values.annotations.global .Values.rbac.role.annotations }}
  annotations:
{{- include "fiaas-deploy-daemon.labelsOrAnnotations" .Values.annotations.global | indent 4 }}
{{- include "fiaas-deploy-daemon.labelsOrAnnotations" .Values.rbac.role.annotations | indent 4 }}
{{- end }}
rules:
- apiGroups:
  - fiaas.schibsted.io
  resources:
  - applications
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - fiaas.schibsted.io
  resources:
  - application-statuses
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  - apps
  - autoscaling
  - apiextensions
  - apiextensions.k8s.io
  - extensions
  - networking.k8s.io
  resources:
  - configmaps
  - customresourcedefinitions
  - deployments
  - horizontalpodautoscalers
  - ingresses
  - pods
  - resourcequotas
  - services
  - serviceaccounts
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - update
  - watch
